[submodule "user-center-go"]
	path = user-center-go
	url = git@github.com:NgeKaworu/user-center-go.git
[submodule "user-center-umi"]
	path = user-center-umi
	url = git@github.com:NgeKaworu/user-center-umi.git
